
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
      }

      .board {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
      }

      .header {
        background-color: lightgray;
        padding: 10px;
        text-align: center;
        width: 130px;
        border: 1px solid black;
        margin: 0 auto;
      }

      .header h1 {
        font-size: 30px;
        margin: 0;
      }

      .categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        background-color: white;
        padding: 10px;
        border: 1px solid black;
      }

      .categories h3 {
        font-size: 20px;
        margin: 0;
      }

      .board-body {
        margin-top: 20px;
      }

      ul {

        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
      }

      li {
        margin: 10px;
        border: 1px solid black;
        background-color: white;
      }

      details {
        padding: 10px;
        cursor: pointer;
      }

      summary {
        font-size: 15px;
        font-weight: bold;
      }

      ul li ul li {

        font-size: 15px;
        padding: 5px 10px;
      }

      a {
        text-decoration: none;
        color: black;
      }

      .button {
        background-color: lightgray;
        padding: 7px;
        border: 1px solid black;
        font-size: 15px;
        border-radius: 5px;
      }

    .create-post {
        position: absolute;
        top: 180px;
        right: 50px;
    }
    .user-info {
        position: absolute;
        top: 180px;
        left: 30px;
    }
    .button:hover {
        background-color: white;
    }
