[submodule "[과제 #4:Re] fbv를 사용한 view 와 template 연결"]
	path = "[과제 #4:Re] fbv를 사용한 view 와 template 연결"
	url = https://github.com/Hepheir/blog-django
[submodule "[과제 #5] fbv로 만든 코드 cbv로 변환하기"]
	path = "[과제 #5] fbv로 만든 코드 cbv로 변환하기"
	url = https://github.com/Hepheir/blog-django
