{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
{% block static %}
<head>
  <meta charset="UTF-8">
  <title>게시글</title>
  <link rel="stylesheet" href="{% static 'css/posts_detail.css' %}">
</head>
{% endblock %}
{% block content %}
<body>
  <h1>{{post.title}}</h1>
  <a href="{% url 'post_list' %}" class="home-button">Home</a>
  <img>
  <div class="post-info">
    <p>카테고리: {{post.category}}</p>
    <p>작성 시간: {{post.created_at}}</p>
    <p>수정 시간: {{post.updated_at}}</p>
    <p>조회 수: {{post.see}}</p>
    <p>작성자: {{post.user}}</p>
  </div>
  <div class="post-body">
    <p>{{post.content}}</p>
  </div>
  {% if request.user == post.user %}
    <div class="post-actions">
      <form action="{% url 'post_delete' post.id %}" method="POST">{% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    </div>
    <div class="update-post">
        <button onclick="window.location.href='{% url 'post_update' post.id %}'">
          수정
        </button>
    </div>
  {% endif %}
  <div class="comment">
    <div class="comment-header">
      <h3>댓글</h3>
      <button id="comment_create" onclick="showCommentInput()">댓글 쓰기</button>
      <div id="comment_input" style="display:none;">
        <form action="{% url 'comment_create' post.id %}" method="POST">{% csrf_token %}
          <input type="text" id="comment_content" name="comment_content" placeholder="내용">
          <input type="submit" onclick="" value="작성">
        </form>
      </div>
    </div>
    {% for comment in comments %}
      <div class="comment-info">
        <p>작성 시간: {{comment.created_at}}</p>
        <p>수정 시간: {{comment.updated_at}}</p>
        <p>작성자: {{comment.user}}</p>
      </div>
      <div class="comment-body">
        <div>
          <p>{{comment.content}}</p>
        </div>
      </div>
      {% if request.user == comment.user %}
      <div class="comment-actions">
        <form action="{% url 'comment_delete' comment.id %}" method="POST">{% csrf_token %}
          <input type="submit" value="삭제">
        </form>
      </div>
      <button onclick="showCommentNewInput()" class="comment_edit">수정</button>
      <div class="comment_new_input" style="display:none;">
        <form action="{% url 'comment_update' comment.id %}" method="POST">{% csrf_token %}
          <input type="text" name="comment_new_content" style="width: 350px; vertical-align: top;" placeholder="내용">
          <input type="submit" onclick="" value="수정">
        </form>
      </div>
      {% endif %}
    {% endfor %}
  </div>

    <!--<div class="recomment">
      <div class="recomment-header">
        <h3>답글</h3>
        <button id="recomment_create">답글 쓰기</button>
        <div id="recomment_input" style="display:none;">
          <form>
            <input type="text" placeholder="답글 내용 입력">
            <input type="submit" onclick="alert('답글 작성 완료')" value="작성">
          </form>
        </div>
      </div>
      <div>
        <div class="recomment-info">
          <p>작성자: {{recomment1.user}}</p>
          <p>작성 시간: {{recomment1.created_at}}</p>
          <p>수정 시간: {{recomment1.updated_at}}</p>
        </div>
        <div class="recomment-body">
          <div>
            <p>{{recomment1.content}}</p>
          </div>
        </div>
      </div>
    </div>-->
  </div>
  <script type="text/javascript" src="{% static 'js/posts_detail.js' %}"></script>
</body>
{% endblock %}
</html>