{% load static %}
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static 'style.css' %} ">
    <title>Title</title>
</head>
<body>

      <h1>B l o g</h1>
        <div class ="main">
          <div class ="menu">
              <h3>
              <ol><a href="">Home</a></ol>
              <ol><a href="/post/list/">Post</a></ol>
              <ol><a href="log-in.html">Log In</a></ol>
                  </h3>
          </div>
             <div class ="detail">
               <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">글 작성</button>
                </form>
             </div>

        </div>

</body>
</html>



