<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div style="height:95px; background-color:#394867"></div>
  <div style="background-color:#F1F6F9"> <h3>HJ's Project</h3> </div>
  <div style="height:45px; background-color:#394867"></div><br>


  <img alt="" src="https://blog.kakaocdn.net/dn/pADA2/btrJKuiGdNJ/XqnSLwCE1bW1VZ87sTRwW0/img.jpg" width="230"><br>
  <br>

  <form class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInput">Name</label>
    <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
    <div class="input-group">
      <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
    </div>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInputGroup">Password</label>
    <div class="input-group">
      <input type="text" class="form-control" pw="autoSizingInputGroup" placeholder="Password">
    </div>
  <div class="col-auto">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="autoSizingCheck">
      <label class="form-check-label" for="autoSizingCheck">
        Remember me
      </label>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">log-in</button>
  </div>
  </div>

  <br>

  <a href="https://github.com"> Go Github </a><br>

<br/>
  {% include "post_create.html" %}


  <br><br>
  <ol>
    <ul>. /)_/)<br/>
      { ,,· ·,,}  ~ ♥<br/>
        /づ~ ♡･ﾟ:*:･★‧₊˚<br/><br/>
    </ul>

    <ul>Post</ul>
    <ol>


<!--{% for post in post1 %}-->
<!--    <li> <a href="http://127.0.0.1:8000/post/{{ post.id }}/">{{ post.id }}_post </a><br> </li>-->
<!--{% endfor %}-->




      <li>
        <a href="http://127.0.0.1:8000/post/1/"> first_post </a><br>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/post/2/"> second_post </a><br>
      </li>

    </ol>

</body>
</html>
