h1{
  text-align:center;
  border-bottom:2px solid black;
  background-color:LightPink;
  padding:30px;
  margin:0px;

}
h2{
   text-align:center;
   border-bottom:2px solid black;
}
.menu{border-right:2px solid black;}
.menu{background-color:LightYellow }
.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.detail {

    padding:30px;
    margin:0px;
}


