<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>배달의 민족</h1>
        <img src="https://img.etnews.com/photonews/2303/1630017_20230314105614_182_0002.jpg" width="600">
        <p><h3>사용자 정보</h3> </p>
            사용자 이름: <p>{{username}}</p>
            주소: <p>{{address}}</p>
        <p>

            <ul>
                {% for store in stores %}
                <a href="{% url 'store' store.id %}"><lI>가게 이름 : {{store.store_name}}</lI></a>
                <lI>주소 : {{store.store_address}}</lI>
                {% endfor %}
            </ul>

            <p>
                <strong>주문 가게</strong>
                <input type = "text" name = "name" value="주문할 가게명 입력">
            </p>

        </p>

    </body>
