<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
                <h3>가게 정보</h3>
                <img src="http://cheese-rice.changuptalk.com/data/franchise/9322/gallery/6rmA7LmY6rOg6rWs66eI7LmY7KaI67Cl.jpg" width="300"><br>
                가게명: 치즈밥있슈<br>
                주소: 서울특별시 종로구 홍지문2길 2<br>
                <a href="https://www.google.co.kr/maps/place/%EC%B9%98%EC%A6%88%EB%B0%A5%EC%9E%88%EC%8A%88+%EC%83%81%EB%AA%85%EB%8C%80/data=!4m6!3m5!1s0x357ca2aadf2622dd:0x6386311f4b439060!8m2!3d37.6009914!4d126.9566411!16s%2Fg%2F11f2_x8vfl?hl=ko">지도 바로가기</a><br><br>
                메뉴:<br>
                갈비베이컨 치즈밥: 5,500 원<br>
                매콤제육 치즈밥: 5,500 원<br>
                김치즈팸 치즈밥: 5,500 원<br>
                김치고구마 치즈밥: 5,500 원<br>
                베이컨김치참치날치알치즈밥: 6,000 원<br>
                스팸김치베이컨치즈밥: 6,000 원
            </p>
            <p>
                <strong>평점 남기기</strong>
                <input type = "radio" name = "menu" value="5">5
                <input type = "radio" name = "menu" value="4">4
                <input type = "radio" name = "menu" value="3">3
                <input type = "radio" name = "menu" value="2">2
                <input type = "radio" name = "menu" value="1">1 <input type = "submit" value="제출">
            </p>
        </form>
    </body>
</html>