<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
                <h3>가게 정보</h3>
                <img src="https://url.kr/7spije" width="300"><br>
                가게명: 부대통령<br>
                주소: 서울특별시 중로구 홍지동 55-1번지<br>
                <a href="https://goo.gl/maps/zJsY6WqCtqB6ULgn9">지도 바로가기</a><br><br>
                메뉴:<br>
                부대찌개: 6,500원<br>
                순두부찌개: 7,000원<br>
                만두: 4,000원
            </p>
            <p>
                <strong>평점 남기기</strong>
                <input type = "radio" name = "menu" value="5">5
                <input type = "radio" name = "menu" value="4">4
                <input type = "radio" name = "menu" value="3">3
                <input type = "radio" name = "menu" value="2">2
                <input type = "radio" name = "menu" value="1">1 <input type = "submit" value="제출">
            </p>
        </form>
    </body>
</html>